/*Nivel universal de la página*/
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*Cuerpo de toda la página*/
body {
    font-family: Montserrat;
    
}

/*Barra superior negra*/
.black-bar {
    background-color: #060609;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s; /*transición para suavizar el cambio de color */
}

.opciones-barra{
    color: #fff;
}

/*disposición de la navegación*/ 
nav {
    display: flex;
    justify-content: left;
}

/*texto especifico de la navegación*/
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.logo-iniciales {
    margin: 0 1%;
    position: absolute;
    width: 100px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantener la proporción */
    right: 10px; /* Ajusta la distancia desde el borde derecho */
    top: 10px; /* Ajusta la distancia desde el borde superior */
}

/*HOME*/
.bienvenidos{
    padding-top: 10%;
    text-align: center;
    color: #006616;
    font-size: xx-large;
    font-style: bold;
}

/*Imagen logo*/
.logo {
    height: 5%;
    top: 132px;
    left: 242px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;

}

/*imagen en específico*/ 
img {
    max-width: 100%; /*Responsivo*/
}

/* contenedor de imagen y texto*/
.contenedor {
    z-index: 1;
    text-align: center;
    display: flex;
    background-image:url(Imagenes/portada\ productos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    padding: 15%;
    flex-direction: column;
    justify-content: center;
}

/*Titulo Nuestos productos*/
.nuestros-prod {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    flex-direction: column;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.72px;
    display: flex;
}

/*Texto de nuestros productos*/
.texto-p{
    padding-top: 2%;
    color: #FFF;
    font-size: 27px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}

/*Frase en exclamación*/
.exclamacion {
    padding-top: 2%;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}

.pregunta{
    color: #006616;
    font-size: 200%;
    font-style: bold;
    text-align: center;
    padding-bottom: 3%;
}

/*contenedor de las cajas de opciones de los productos que venden*/
.contenedor-prod{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}

/*Categorías de los productos para que quede como galeria*/
section {
    display: flex;
    gap: 20px;
}

/*Titulo de cada producto*/
.titulo-prod {
    color: #006616;
font-size: 100%;

}

.titulo-grande {
    font-size: 150%;
}

/*imagenes de los productos*/

.img-prod {
    flex-shrink: 0;
    border-radius: 10%;
}

/*Caja negra en la parte interior de la página*/

footer {
    background-color: #000;
    color: #FFF;
    padding: 2%;
    font-size: small;
    text-align: left;
    padding-bottom: 5%;
   
}

.mas-info {
    color: #FFF;
}

.pie-pagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.titulo-box{
    padding-top: 2%;
}

.texto-box {
    text-decoration:underline; 
}

.texto-box2{
    text-decoration:underline; 
}

.titulo-box1{
   padding-top: 6%;
   padding-left: 9%;
}


/*interacción, cambio el color el link navegable al pasar el cursor*/
a:hover {
    color: #5cd152; 
}

/*links navegable*/
a {
    color: #006616;
    transition: color 0.3s ease; 

}

/* Clase que se agregará al hacer scroll hacia abajo */
.scroll-down {
    background-color: #000000; /* Cambia el color de fondo al hacer scroll hacia abajo */
}

/*Links de las redes sociales*/
.rrss{
    color: #fff;
    transition: color 0.3s ease; 
    margin: 0;
}

.boton {
    color: #fff;
    padding-top: 1%;
    font-size: small;
}

.atras {
    color: #fff;
    margin-block: 2%;
}

.atras-past {
    color: #fff;
    
}

.boton-nivel {
    color: #fff;
    padding-top: 2%;
    font-size: small;

}
/*SECCION PASTELERÍA*/
.pasteleria{
    background-color: #7EB336;
    padding: 6% 2%;
    color: #fff;
}

.titulo-pasteleria{
    font-size: 300%;
    font-style: bold;
    text-align: left;
  
}

.texto-pasteleria{
    font-size: 140%;
    font-style: regular;
    padding-right: 5%;

}

.exclamacion2{
    color: #006616;
    font-size: 200%;
    font-style: bold;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

/*SECCION PANADERIA*/

.main2{
    padding: 15%;
}

.panaderia{
    background-color: #7EB336;
    padding: 6% 2%;
    color: #fff;
}

.titulo-panaderia{
    font-size: 300%;
    font-style: bold;
    text-align: left;
  
}

.texto-panaderia{
    font-size: 140%;
    font-style: regular;
    padding-right: 5%;

}

/*SECCION PAN TRADICIONAL*/
.contenedor-pan{
    column-gap: normal;
    display: grid;
}

.contenedor1-pan{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}

.contenedor2-pan{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}


/* SECCION HELADERIA*/
.heladeria{
    background-color: #7EB336;
    padding: 6% 2%;
    color: #fff;
}

.titulo-heladeria{
    font-size: 300%;
    font-style: bold;
    text-align: left;
  
}

.texto-heladeria{
    font-size: 140%;
    font-style: regular;
    padding-right: 5%;

}

.contenedor-helados{
    column-gap: normal;
    display: grid;
}

.contenedor1-helados{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}

.contenedor2-helados{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}

.contenedor3-helados {
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}


/*SECCION QUIENES SOMOS*/

.titulo{
    padding-top: 7%;
    padding-bottom: 1%;
    color: #006616;
    margin-left: 2%;
}

.nuestprod-img{
    width: 100%;
    padding-bottom: 5%;
}

.texto {
    margin-left: 2%;
    font-size: 100%;
    margin-right: 2%;
    padding-bottom: 2%;

}

h4{
    text-align: center;
    font-size: medium;
    padding-top: 5%;
    padding: 2%;
}


/*CONTACTO*/
.contacto{
    padding-top: 7%;
    color: #006616;
    margin-left: 2%;
    padding-left: 2%;
}

.contenedor-contacto-total{
    padding-bottom: 15%;
    background-image: url(Imagenes/portada\ contacto_page-0001.jpg);
    background-size: 80%;
    background-position-x: right;
    background-repeat:no-repeat;
}


.contenedor-cont{
   margin-left: 2%;
   padding-left: 2%;
}

.img-cont{
    display: block;
    margin: 0 auto;
    width: 50%; 
    text-align: right;
}

.pedidos {
font-size: 200%;
text-decoration: underline 2%;
font-weight:500;
}

.contacto-whatsapp{
    font-size: 200%;
    text-decoration: underline 2%;
    font-weight: 500;
}

/*TARTALETAS, TORTAS Y PIES/BIZCOCHO/GALLETAS/POSTRES*/

.nivel-3{
    background-color: #7EB336;
    padding-bottom: 1%;
    color: #fff;
    padding-top: 4%;
    padding-left: 2%;
    width: 100%;
    
}

.titulo-nivel3 {
    font-size: 300%;
    font-style: bold;
    text-align: left;
    padding-top: 1%;
}

.contenedor-tortas{
    column-gap: normal;
    display: grid;
}

.contenedor1-tortas {
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}

.contenedor2-tortas{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}

.contenedor3-tortas {
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    image-rendering: auto;
}

.contenedor-postre {
    column-gap: normal;
    display: grid;
}

.contenedor1-postre{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}

.contenedor2-postre{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}

.contenedor-bizcocho{
    column-gap: normal;
    display: grid;
}

.contenedor1-bizcocho{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}

.contenedor2-bizcocho{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}


.contenedor-galletas {
 column-gap: normal;
 display: grid;
}

.contenedor1-galletas{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}

.boton-comprar {
    background-color: #006616;
    color: white;
    font-family: Montserrat ;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton-comprar:hover {
    background-color: #7EB336;
}

.boton-comprar a{
    text-decoration: none;
    color: white;
}

.icono-carrito{
    width: 40px;
    height: 40px;
    stroke: #000;
   
}

.icono-carrito:hover {
    cursor: pointer;
}

.icon-close {
    width: 15px;
    height: 15px;
    stroke: #000;
   margin-left: 1%;
   margin-top: 4%;
}

.icon-close:hover{
    stroke: #006616;
    cursor: pointer;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    top: 55%;
    right: 0%;
    background-color: #7EB336;
    color: #FFF;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
}

.container-cart-icon {
    position: absolute;
    right: 0%;
    
   
}

.container-cart-products{
    position: absolute;
    background-color: #f3f3f3;
    width: 600px;
    right: 3%;
    z-index: 1;
    border-radius: 20px ;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

}

.cart-product{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
align-items: center;

}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.titulo-producto-carrito{
font-size: 100% ;
}

.precio-producto-carrito{
font-weight: 700;
font-size: 100%;
margin-left: 10px;
padding-top: 3%;
}

.cantidad-producto-carrito {
font-weight: 400;
font-size: 100%;
padding-top: 3%;
}

.cart-total{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

#contador-productos{
    font-size: 12px;
}

.hidden-cart {
    display: none;
}



