/*CODIGOS GENERALES PARA TODAS LAS PAGINAS*/

/*1) Nivel universal de la página*/
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* 2) Cuerpo de toda la página*/
body {
    font-family: Montserrat;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}

/* 3) Barra superior negra*/
.black-bar {
    background-color: #060609;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s; /*transición para suavizar el cambio de color */
}

/*4) Opciones de la barra*/
.opciones-barra{
    color: #fff;
}

/*5) disposición de la navegación*/ 
nav {
    display: flex;
    justify-content: left;
}

/*6) texto especifico de la navegación*/
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/*7) Logo en la barra */
.logo-iniciales {
    margin: 0 1%;
    position: absolute;
    width: 100px; 
    height: auto; 
    right: 10px; 
    top: 10px; 
   
}

/*8) Pie página*/
footer {
    background-color: #000;
    color: #FFF;
    padding: 2%;
    font-size: small;
    text-align: left;
    padding-bottom: 5%;
}

/*9) Titulo de más informacion en el pie de página*/
.mas-info {
    color: #FFF;
}

/*10) Contenedor de la información del pie de página*/
.pie-pagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*11) Sub titulo del contenido del pie de página (Horario y Visitanos)*/
.titulo-box{
    padding-top: 2%;
}

/*12) Texto que acompaña con el subtitulo, lo especifico de la información*/
.texto-box {
    text-decoration:underline; 
}


/*13) Texto que acompaña con el subtitulo, lo especifico de la información (RRSS)*/
.titulo-box1{
    padding-top: 2%;
    padding-left: 9%;
}


/*14) interacción, cambio el color el link navegable al pasar el cursor*/
a:hover {
    color: #5cd152; 
}

/*15) links navegable*/
a {
    color: #006616;
    transition: color 0.3s ease; 
    
}

/*16) Clase que se agregará al hacer scroll hacia abajo */
.scroll-down {
    background-color: #000000; /* Cambia el color de fondo al hacer scroll hacia abajo */
}

/*17) Links de las redes sociales*/
.rrss{
    color: #fff;
    transition: color 0.3s ease; 
    margin: 0;
}

/*18) Imagenes en general*/ 
img {
    max-width: 100%; /
}






/*CODIGOS COMPARTIDOS PARA NIVEL 2 Y 3 (Categorías y subcategorías)*/

/*1) contenedor padre que contiene las cajas de opciones de los productos que venden*/
.contenedor-prod{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
}

/*2) Contenedor que contiene el Titulo de cada producto y la imagen correspondiente*/
.titulo-prod {
    color: #006616;
    font-size: 100%;
    
}

/*3) Nombre de la categoría o el producto en específico*/ 
.titulo-grande {
    font-size: 150%;
}

/*4) Contenedor de la sección de categorías de los productos para que quede como galeria*/
section {
    display: flex;
    gap: 20px;
}

/*5) imagenes de cada productos*/
.img-prod {
    flex-shrink: 0;
    border-radius: 10%;
}

/*6) Boton de linea del tiempo de las categorías seleccionadas*/ 
.boton {
    color: #fff;
    padding-top: 2%;
    font-size: small;
}

/*7) Boton para volver al inicio*/ 
.atras {
    color: #fff;
    margin-block: 2%;
}

/*8) Boton para volver a la subcategoría seleccionada*/ 
.atras-past {
    color: #fff;
    
}

/*9) Boton de la linea del tiempo en la subcategoria seleccionada */ 
.boton-nivel {
    color: #fff;
    padding-top: 2%;
    font-size: small;
    
}

/*10) contenedor verde donde tiene el nombre de la categoria*/
.fondo-categoria{
    background-color: #7EB336;
    padding: 6% 2%;
    color: #fff;
}


/*11) Titulo grande de la Categoría*/
.titulo-categoria{
    font-size: 300%;
    font-style: bold;
    text-align: left;
    
}

/*12) texto de la categoria*/
.texto-categoria{
    font-size: 140%;
    font-style: regular;
    padding-right: 5%;
    
}

/*13) Exclamación "encuentra tu producto! de cada categoría*/
.exclamacion2{
    color: #006616;
    font-size: 200%;
    font-style: bold;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}

/*14) Contenedor que contiene las categorias y subcategorias (fondo, linea del tiempo, titulo, texto)*/
.main2{
    padding: 15%;
}

/*14) contenedor de las subcategorias*/
.nivel-3{
    background-color: #7EB336;
    padding-bottom: 1%;
    color: #fff;
    padding-top: 4%;
    padding-left: 2%;
    width: 100%;
    
}

/*15) contenedor padre que sostiene todos los productos especificos*/
.contenedor-padre{
    column-gap: normal;
    display: grid;
}

/*16) titulo de la subcategoria seleccionada*/
.titulo-nivel3 {
    font-size: 300%;
    font-style: bold;
    text-align: left;
    padding-top: 1%;
}

/*16) contenedor que tiene todos los productos*/
.contenedor1{
    text-align: center; 
    padding-bottom: 5%;
    display: flex;
    column-gap:  20px;
    padding-top: 5%;
}









/*TODO DEL CARRITO DE COMPRAS*/

/*1) Contador al seleccionar los productos*/ 
.count-products{
    position: absolute;
    right: 2%;
    top: 50%;
    background-color: #7EB336;
    color: #FFF;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

/*2) contenedor del icono del carrito*/
.container-cart-icon {
    position: absolute;
    right: 2%;
    padding-top: 0.3%;  
}

/*3) contenedor de los productos seleccionados*/
.container-cart-products{
    position: absolute;
    background-color: #f3f3f3;
    width: 600px;
    right: 3%;
    z-index: 1;
    border-radius: 20px ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

/*4) contenedor de la informacion del carrito*/
.cart-product{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    align-items: center;
    
}

/*5) informacion del carrito*/
.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

/*6) nombre del producto*/
.titulo-producto-carrito{
    font-size: 100% ;
}

/*7) precio del producto*/
.precio-producto-carrito{
    font-weight: 700;
    font-size: 100%;
    margin-left: 10px;
    padding-top: 3%;
}

/*8) cantidad seleccionada*/
.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 100%;
    padding-top: 3%;
}

/*9) total a pagar de los productos seleccionados*/
.cart-total{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
}

/*10) titulo de total*/
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

/*11) cantidad $ del total*/
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

/*12)contador de productos*/
#contador-productos{
    font-size: 12px;
}

/*13)Esconder el carrito*/
.hidden-cart {
    display: none;
}
/* 14) Boton de añadir carrito*/
.boton-comprar {
    background-color: #006616;
    color: white;
    font-family: Montserrat ;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*15) color del boton al pasar el cursor*/
.boton-comprar:hover {
    background-color: #7EB336;
}

/*16) Palabra del boton*/
.boton-comprar a{
    text-decoration: none;
    color: white;
}

/*17)Icono del carrito*/
.icono-carrito{
    width: 40px;
    height: 40px;
    stroke: #000;
    
}

/*18) Icono del carrito al pasar el cursor, se apunta para apretar*/
.icono-carrito:hover {
    cursor: pointer;
}

/*19)Icono para cerrar en el carrito*/
.icon-close {
    width: 15px;
    height: 15px;
    stroke: #000;
    margin-left: 1%;
    margin-top: 4%;
}

/*20) Icono para cerrar al pasar el cursor, se apunta para apretar*/
.icon-close:hover{
    stroke: #006616;
    cursor: pointer;
}








/*INICIO DE LA PÁGINA WEB GRAN VÍA*/

/*1) titulo del inicio de la página web*/
.bienvenidos{
    padding-top: 10%;
    text-align: center;
    color: #006616;
    font-size: xx-large;
    font-style: bold;
}

/*2) Imagen logo, imagen principal*/
.logo {
    height: 5%;
    top: 132px;
    left: 242px;
    flex-shrink: 0;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    
}

/*3) Contenedor de imagen y texto del inicio de la página*/
.contenedor {
    z-index: 1;
    text-align: center;
    display: flex;
    background-image:url(Imagenes/portada\ productos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    padding: 15%;
    flex-direction: column;
    justify-content: center;
}

/*4) Titulo "Nuestos productos" en la página inicial*/
.nuestros-prod {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    flex-direction: column;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.72px;
    display: flex;
}

/*5) Texto de "nuestros productos" en la página inicial*/
.texto-p{
    padding-top: 2%;
    color: #FFF;
    font-size: 27px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}

/*6) Frase en exclamación de la página inicial ("Haz tu pedido y lo llevamos a tu casa")*/
.exclamacion {
    padding-top: 2%;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
}

/*7) Pregunta ¿Qué estás buscando? de la página inicial*/
.pregunta{
    color: #006616;
    font-size: 200%;
    font-style: bold;
    text-align: center;
    padding-bottom: 3%;
}







/* SECCION HELADERIA*/
/*1)Lo que contiene el contador del carrito*/
.count-products-h{
    position: absolute;
    right: 2%;
    top: 59%;
    background-color: #7EB336;
    color: #FFF;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}








/*SECCION QUIENES SOMOS*/

/*1)Titulo de ¿quienes somos?*/
.titulo{
    padding-top: 7%;
    padding-bottom: 1%;
    color: #006616;
    margin-left: 2%;
}

/*2)imagen*/
.nuestprod-img{
    width: 100%;
    padding-bottom: 5%;
}

/*3)texto de quienes somos*/
.texto {
    margin-left: 2%;
    font-size: 100%;
    margin-right: 2%;
    padding-bottom: 2%;
    
}

/*4) la exclamacion que cierra el parrafo*/
h4{
    text-align: center;
    font-size: medium;
    padding-top: 5%;
    padding: 2%;
}









/*CONTACTO*/

/*1) contacto titulo*/
.contacto{
    padding-top: 7%;
    color: #006616;
    margin-left: 2%;
    padding-left: 2%;
}

/*2)contenedor del contacto (titulo, numeros)*/
.contenedor-contacto-total{
    padding-bottom: 15%;
    background-image: url(Imagenes/portada\ contacto_page-0001.jpg);
    background-size: 80%;
    background-position-x: right;
    background-repeat:no-repeat;
}

/*3) cotenedor de los distintos numeros*/
.contenedor-cont{
    margin-left: 2%;
    padding-left: 2%;
}

/*4) imagen de la seccion del contacto*/
.img-cont{
    display: block;
    margin: 0 auto;
    width: 50%; 
    text-align: right;
}

/*4)titulo pedidos*/
.pedidos {
    font-size: 200%;
    text-decoration: underline 2%;
    font-weight:500;
}

/*5)titulo whatsapp*/
.contacto-whatsapp{
    font-size: 200%;
    text-decoration: underline 2%;
    font-weight: 500;
}













